{% extends 'base.html' %}

{% block title %}

Details for {{ object.name }} | LoL Champion Collector

{% endblock %}

{% block content %}

<h1><span class="blue-text">{{ object.name }}</span> Details</h1>
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ object.epithet }}</span>
        <h6>Roles: {{ object.role }}</h6>
        <h6>Hours Played: {{ object.hours }}</h6>
    </div>
    <div class="card-action">
        <a href="{% url 'champions_update' object.id %}">Update</a>
        <a href="{% url 'champions_delete' object.id %}">Delete</a>
    </div>
</div>

{% endblock %}