{% extends 'base.html' %}

{% block title %}

{% if object %}
Update {{ object.name }}'s Details | LoL Champion Collector 
{% else %}
Add a new Champion | LoL Champion Collector
{% endif %}

{% endblock %}

{% block content %}

{% if object %}
<h1>Edit {{ object.name }}'s Details</h1>
{% else %}
<h1>Add a New Champion</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="{% if object %} Update {% else %} Add New Champion {% endif %}" class="btn green">
</form>

{% endblock%}