{% extends 'base.html' %}

{% block title %}

{% if object %}
Edit Skin Theme | LoL Champion Collector 
{% else %}
Add Skin Theme | LoL Champion Collector 
{% endif %}

{% endblock %}

{% block content %}

{% if object %}
<h1>Edit {{ object.name }}</h1>
{% else %}
<h1>Add a new skin theme</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="{% if object %} Update {% else %} Add Skin Theme {% endif %}" class="btn green">
</form>

{% endblock %}
